{%extends 'base.html'%}

{%block main_block%}
   <div class="container " style="display: flex; justify-content: center;">
      <div class="cardb" style="text-align: center;         padding: 40px 0;">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark" style="color:  #9ABC66; font-size: 100px; line-height: 200px; margin-left: -15px;" >✓</i>
      </div>
        <h1 style=" color: #88B04B; font-family: Nunito Sans, Helvetica Neue, sans-serif; margin-bottom: 10px; ">Success</h1> 
        <p style="color: #404F5E;          font-family: Nunito Sans, Helvetica Neue, sans-serif;           font-size:20px;           margin: 0;">We received your purchase request. Booking successfull;<br/> we'll be in touch shortly!</p>
      </div>
    </div>

{%endblock%}